@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Syne+Mono & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');



body {
    background-color: rgb(20, 20, 20);
    margin: auto;
}

header {
    background-image: linear-gradient(to bottom, #8943fae3, #584ba3c5);
    padding-top: 1px;
    height: 80px;
    text-align: center;
}

header h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: -2px 1px 1px rgba(0, 0, 0, 0.616);
}

hr {
    margin: auto;
}

h1 {
    margin-top: 14px;
    font-size: 3em;
}

main {
    color: white;
    width: 430px;
    margin: left;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.519);
    border-radius: 0px 0px 10px 10px;
    font-size: 1.3em;
    font-family: 'Rubik Mono One', monospace;
    background-color: rgb(54, 54, 54);
    float: left;
}

main li {
    padding-top: 10px;
}

main a {
    padding: 20px;
    text-decoration-line: none;
    color: lightblue;
}

img.imgum{
    margin-left: -16px;
    float: left;
}

footer {
    background-color: #584ba3;
    padding-top: 945px;
    padding-bottom: 1px;
}